.gothic-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* background: linear-gradient(to bottom, #0f0f0f 0%, #444444 100%); */
  height: 650px;
  width: 430px;
  /* box-shadow: 0 5px 15px rgba(0, 255, 0, 0.15); */
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

/* .gothic-card:hover {
  box-shadow: 0 10px 20px rgba(0, 255, 0, 0.25);
} */

.image-container {
  height: 480px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.product-image {
  width: 100%;
  height: 100%;
}

.product-title {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: 400;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
  padding-bottom: 8px;
}

.product-price {
  text-align: center;
  color: #00ff00;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 0 0 8px rgba(0, 255, 0, 0.5);
  opacity: 0; /* Los detalles no se ven inicialmente */
  transition: opacity 0.3s ease; /* Transición suave */
  pointer-events: none;
}

.product-stock {
  text-align: center;
  color: #cccccc;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  font-style: italic;
  opacity: 0; /* Los detalles no se ven inicialmente */
  transition: opacity 0.3s ease; /* Transición suave */
  pointer-events: none;
}

.product-stock.low-stock {
  color: #358632;
}

.product-link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  opacity: 0; /* Los detalles no se ven inicialmente */
  transition: opacity 0.3s ease; /* Transición suave */
  pointer-events: none;
}

.gothic-card:hover .product-price,
.gothic-card:hover .product-stock,
.gothic-card:hover .product-link {
  opacity: 1; /* Los detalles se vuelven visibles */
  pointer-events: auto; /* Permite interactuar con los elementos */
}

/* .gothic-button {
  cursor: pointer;
} */

/* .gothic-button:hover {
  background-color: #1a1a1a;
  box-shadow: 0 0 10px #00ff00;
  transform: scale(1.03);
} */
