.item-detail-Card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 650px;
  width: 430px;
  color: #ffffff;
  align-items: center;
}

.product-image-detail {
  width: 100%;
  height: 100%;
}

.image-container-detail {
  /* overflow: hidden;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  position: relative; */
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
